.runner {
  margin: 0 auto;
  max-width: 640px;
  margin-top: 60px;

  .runner-title {
    font-size: 36px;
    font-weight: 700;
  }

  .runner-subtitle {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
  }
}
